<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="login-box">

        <h2>Login</h2>

        {% if message %}
            <div class="message">
                {{ message }}
            </div>
        {% endif %}

        <form action="{{ url_for('login_user') }}" method="POST">

            <div class="input-box">
                <input
                    type="email"
                    name="email"
                    placeholder="Email Address"
                    required>
            </div>

            <div class="input-box">
                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required>
            </div>

            <button type="submit">
                Login
            </button>

        </form>

        <p>
            Don't have an account?
            <a href="{{ url_for('register') }}">Register</a>
        </p>

    </div>

</body>
</html>